/* board.css */


.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px;
    box-sizing: border-box;
    height: 100vh; /* Altura del 80% del alto de la pantalla */
    background-image: url('/public/school.webp');
    background-size: cover; /* Utiliza 'contain' en lugar de 'cover' */
    background-repeat: no-repeat;
}

.board > * {
    flex: 0 0 calc(20% - 30px); /* Ajusta el tamaño de las tarjetas y los márgenes */
    margin-top: 10px;
    box-sizing: border-box;
}
